@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #fff;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
p,a{
    font-family: 'Roboto', sans-serif;
}
p{
  color:   #3E3E3E;
}
.button{
    /* background-color: linear-gradient(180deg, #A4BC46, #85A019); */
    background-image: linear-gradient(180deg,#A4BC46,#85A019);
}